{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11", "safari >= 10"]
      },
      "loose" : true
    }],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}